*{
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
}

.taskBar {
    width: 608px;
    height: 80px;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    margin-bottom: 10px;
    border-bottom: 1px solid #BDBDBD;
}

.taskBar button {
    width: 150px;
    height: 50%;
    cursor: pointer;
    border: none;
    background-color: white;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
}

.searchBar {
    width: 600px;
    height: 56px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;

}

input {
    width: 80%;
    height: 90%;
    border: 1px solid #BDBDBD;
    border-radius: 12px;
    padding-left: 10px;

}

.searchBar button {
    width: 15%;
    height: 100%;
    box-shadow: 0px 2px 6px rgba(127, 177, 243, 0.4);
    border-radius: 12px;
    background-color: #2F80ED;
    cursor: pointer;
    color: white;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    border: none;
}

.container {
    width: 600px;
    height: fit-content;
}

.deleteAllDiv {
    width: 600px;
    display: flex;
    justify-content: flex-end;
}

.deleteAll {
    width: 124px;
    height: 40px;
    background-color: #EB5757;
    color: white;
    border: none;
    cursor: pointer;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
}

.card {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    border-radius: 10px;
}

.deleteicon {
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
}

.flex {
    display: flex;
    height: 90%;
    align-items: center;
}

.fa {
    margin-right: 10px;
    cursor: pointer;
}

.checkbox {
    width: 24px;
    height: 24px;
    margin: 10px;
    border-radius: 50%;
    cursor: pointer;
}

p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
}

.lineThrough {
    text-decoration: line-through;
}

@media only screen and (max-width: 620px) {

    .deleteAllDiv,
    .searchBar,
    .container,
    .taskBar {
        width: 100%;
    }
}